@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    min-height: 100vh;
}

main {
    min-height: 90vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.nuxt-link, .link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.page-section {
    padding: 2rem;
}

.section-content {
    height: max(100%, 100%);
}